#canvas {
    background-color: gray;
}
.container{
    text-align: center;
    gap: 4px;
}
.btn{
    border-radius: 100%;
    background-color: white;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-size: 20px;
}
.btnContainer{
    display: flex;
    justify-content: center;
    gap:20px;
}
.fail{
    color: red;
}
.success{
    color:green;
}